---
import BlankHeaderFooterContainer from '../layouts/BlankHeaderFooterContainer.astro';
import Search from '../components/Search.astro';
---

<BlankHeaderFooterContainer title="Home" withSearch={false} withFilters={false}>
	<section class="py-5 my-5 px-3 mx-auto">
		<div class="row">
			<Search />
		</div>
	</section>
	<section class="about">
		<hr class="my-3" />
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h2 class="display-2 mb-3">
					About the Choctaw Veterans Archive
				</h2>
				<p>
					The Choctaw Veterans Archive is a collection of stories from
					Choctaw veterans of the United States Armed Forces. The goal
					of this project is to preserve the stories of veterans and
					make them accessible to the public.
				</p>
				<p>
					Choctaw veterans have served in every major conflict since
					the Choctaw Code Talkers of World War I. The Choctaw Nation
					is proud of its veterans and their service to our country.
				</p>
			</div>
		</div>
	</section>
</BlankHeaderFooterContainer>
