---
import BlankHeaderFooterContainer from '../layouts/BlankHeaderFooterContainer.astro';
import VeteranPreviewCard from '../components/VeteranPreviewCard.astro';
const request = await Astro.request.url;
const url = new URL(request);
const searchParams = new URLSearchParams(url.search);
const query = searchParams.get('query');

const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BlankHeaderFooterContainer title="Search Results">
	<section>
		<h1>Showing results for: <br class="d-block d-sm-none" />"{query}"</h1>
	</section>
	<section class="results">
		<ul class="list-unstyled">
			{
				allPosts.map((post) => (
					<li
						style="max-height:30rem"
						class="d-block overflow-hidden border-1 border border-secondary overflow-hidden rounded-3 shadow my-3"
					>
						<VeteranPreviewCard
							data={post.frontmatter}
							url={post.url}
						/>
					</li>
				))
			}
		</ul>
	</section>
</BlankHeaderFooterContainer>
