<footer class="container">
	<hr class="my-5" />
	<p class="text-muted">
		This wireframe is for demo purposes only. It is not intended to be a
		working website, nor is the data it contains accurate.
	</p>
</footer>
