---
const filters = [
	{
		label: 'Wars',
		id: 'wars',
		options: [
			{
				label: 'World War I',
				value: 'ww1',
			},
			{
				label: 'World War II',
				value: 'ww2',
			},
			{
				label: 'Korean War',
				value: 'korean',
			},
			{
				label: 'Vietnam War',
				value: 'vietnam',
			},
			{
				label: 'Gulf War',
				value: 'gulf',
			},
			{
				label: 'Afghanistan War',
				value: 'afghanistan',
			},
			{
				label: 'Iraq War',
				value: 'iraq',
			},
		],
	},
	{
		label: 'Branch',
		id: 'branch',
		options: [
			{
				label: 'US Army',
				value: 'army',
			},
			{
				label: 'US Navy',
				value: 'navy',
			},
			{
				label: 'US Marine Corps',
				value: 'marines',
			},
			{
				label: 'US Air Force',
				value: 'air-force',
			},
			{
				label: 'US Coast Guard',
				value: 'coast-guard',
			},
			{ label: 'Merchant Marines', value: 'merchant-marines' },
			{ label: `Women's Army Corps`, value: 'wac' },
			{ label: 'Army Reserves', value: 'army-reserves' },
			{ label: 'Navy Reserves', value: 'navy-reserves' },
			{ label: 'National Guard', value: 'national-guard' },
			{ label: 'US Navy Seals', value: 'navy-seals' },
		],
	},
];
---

<script>
	import Dropdown from 'bootstrap/js/dist/dropdown';
</script>

{
	filters.map((filter, index) => (
		<div
			class={`dropdown col flex-shrink-1 flex-grow-0 order-${
				index + 2
			} order-sm-0`}
		>
			<button
				type="button"
				class="btn btn-secondary dropdown-toggle"
				data-bs-toggle="dropdown"
				aria-expanded="false"
				data-bs-auto-close="outside"
			>
				{filter.label}
			</button>
			<form class="dropdown-menu py-4 px-3">
				<ul class="form-check list-unstyled">
					{filter.options.map((option) => (
						<li>
							<input
								type="checkbox"
								class="form-check-input"
								id={option.value}
							/>
							<label class="form-check-label" for={option.value}>
								{option.label}
							</label>
						</li>
					))}
				</ul>
			</form>
		</div>
	))
}

<div class="flex-grow-0 col-12 col-sm-8 order-1 order-sm-0 flex-grow-1">
	<div class="input-group">
		<span class="input-group-text" id="birth-year">Born After</span>
		<input
			type="text"
			class="form-control"
			placeholder="1940"
			aria-label="birth year"
			aria-describedby="birth-year"
		/>
	</div>
</div>
