<form class="mb-3" action="/wireframe-veterans-archive/search">
	<label for="search" class="form-label display-1">Find a veteran</label>
	<input
		type="text"
		class="form-control"
		id="search"
		placeholder="Search by name, conflict, branch, or more"
	/>
</form>
